
<div [@fadeIn] class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="p-5 text-center">
        <section class="fila1">
            <div class="container-home">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/img/lupa.png" alt="">
                    </div>
                    <div class="content">
                        <a routerLink="/listHotels">BUSCA</a>
                        <p>Puedes buscar mas detalladamente lo que quieres.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/img/servicios.png" alt="">
                    </div>
                    <div class="content">
                        <a routerLink="/services">SERVICIOS</a>
                        <p>Descubre lo que tenemos listo para tu conveniencia.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/img/avion.png" alt="">
                    </div>
                    <div class="content">
                        <a href="#">VIAJA</a>
                        <p>Reserva un hotel para alojarte en esta nueva experiencia.</p>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
